//font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", serif;
}

//colors
$primary-brown: #493e44;
$logo-color: #eee6b8;

//btn
$hover-btn: #5c5458;
